<table class="table table-border">
  <thead>
    <tr>
      <th>
        Meal
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @foodlogs.each do |item| %>
        <% if item.user == current_user %>
        <td>
          <%= item.meal %>
        </td>
        <td><%= link_to "Show", foodlog_path(item), class: "btn btn-success" %></td>
        <td><%= link_to "Delete", item, method: :delete, class: "btn btn-danger" %></td>
        <% end %>
    </tr>
      <% end %>
  </tbody>
</table>
<% if user_signed_in? %>
  <%= link_to "New Item", new_foodlogs_path, class: "btn btn-primary" %> 
<% end %>


